* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: 50px auto;
}

#add-item {
  padding: 5px;
}

h1 {
}

ul {
  margin-top: 30px;

  li {
    margin: 10px 0;

    .fa-edit {
      margin-right: 5px;
      font-size: 14px;
      vertical-align: text-top;
      cursor: pointer;
    }

    input {
      border: none;
      font-size: 18px;
    }

    input[disabled="disabled"] {
      background-color: white;
    }

    .fa-times-circle {
      color: rgb(146, 0, 0);
      cursor: pointer;
    }
  }
}
